.verde{
    width: 200px;
    height: 100px;
    background-color: green;
    color: aliceblue;
    text-align: center;
    position: relative;
    top: 100px;
    left: 100px;
    z-index: 1;
    
}

.rojo{
    width: 200px;
    height: 100px;
    background-color: red;
    color: aliceblue;
    text-align: center;
    position: relative;
    z-index: 2;
}

.azul{
    width: 200px;
    height: 100px;
    background-color: blue;
    color: aliceblue;
    text-align: center;
}