*{
    margin: 0;
    padding: 0;
}
.caja-1{
    border: 2px #000 solid;
    width: 100px;
    height: 100px;
    margin: 10px 0;
    background: yellow;
    float: left;
}

.caja-2{
    border: 2px #000 solid;
    width: 100px;
    height: 100px;
    margin: 10px 0;
    background: blue;
    float: left;
}

.caja-3{
    border: 2px #000 solid;
    width: 100px;
    height: 100px;
    margin: 10px 0;
    background: red;
    float: right;
}

.titulo{
    clear: both;
}