*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    width: 80%;
    height: 500px;
    background: chocolate;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    /* align-content: space-around; */
   
  

}
body{
    background: #3a3837
}

.hijo{
    background: #00b285;
    width: 200px;
    height: 100px;
    color: white;
    margin: 30px;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    flex: 1 1 auto;
    
}
.otro{ 
    align-self: stretch;
    height: auto;
}